<p>
    <md-list>
        <md-list-item *ngFor="let story of session.getStories(); let i=index">
            <h3 md-line>  {{i+1}}.{{story.title}} </h3>
            <p md-line>{{story.description}}</p> 
            <md-button-toggle-group name="storyPoints" (change)="showTask(storyPoints)" >  
                <md-button-toggle>1/2</md-button-toggle>
                <md-button-toggle>1</md-button-toggle>
                <md-button-toggle>3</md-button-toggle>
                <md-button-toggle>5</md-button-toggle>
                <md-button-toggle>8</md-button-toggle>
                <md-button-toggle>13</md-button-toggle>
                <md-button-toggle>20</md-button-toggle>
                <md-button-toggle>40</md-button-toggle>
                <md-button-toggle>100</md-button-toggle>
                <md-button-toggle>E</md-button-toggle>
                <md-button-toggle>?</md-button-toggle>
            </md-button-toggle-group>
        </md-list-item>
    </md-list>
    <div *ngIf="listTasks">
        <div *ngFor="let task of tasks; let i=index">{{i+1}}. {{task}}
            <button type="button" (click)="removeTasks(i)" md-mini-fab>
                <md-icon class="md-24">-</md-icon>
            </button>
        </div>
        <div>
            <md-input #tasks md-autofocus="true" [(ngModel)]="newTask" class="ac-input" placeholder="Task">
            </md-input>
            <button type="button" (click)="addTask(newAc)" md-mini-fab><i class="material-icons" md-24>add</i>
            </button>
        </div>
    </div>
</p>
